#p1 {
  background: url("../img/1.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  @include fbox(start, center);
  flex-direction: column;
  .txt {text-align: center;
    h1 {
      font-size: 8em;
      font-weight: 400;
      color: white;
      line-height: 100px;
      margin-top: 90px;
    }
    p {
      font-size: 1.3rem;
      color: white;
    }
  }
}
